:root{ --white : 0, 0, 0; --black : 255, 255, 255;}
body{background-color: rgba(var(--black), 0.5); transition: all 200ms ease;}
.container-1{margin-top: 10rem !important;}
.hero{margin-top: 6rem !important;}
.navbar{
  background-color: rgb(var(--black), 0.7);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}
#darkMode{top: 40%;right: 5%;}
@media screen and (max-width :991px) {#darkMode{top: 72.5%;}body{overflow-x: hidden;}}
.carousel-caption h2{text-shadow: 0 0 7px black;}
.cases-1 {max-height: 280px !important;}
.cases img {transition: transform 300ms ease;}
.cases:hover{box-shadow: 2px 3px 9px rgba(var(--white), 0.6);}
.cases:hover img {transform: scale(1.1) rotate(2deg)}
.carousel-item img {height: 87vh;}
.case-card {
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 250ms ease, transform 250ms ease;
}
.cases:hover .case-card{
  background-color: rgba(0, 0, 0, 0);
  transform: translateY(-10px);
}
#headliners .text-lead , #case-stud .text-lead{text-shadow: 0 0 5px rgba(var(--white), 0.5);}
#headliners .artist-card {
  transition: transform 300ms ease, box-shadow 300ms ease;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  -webkit-transform: perspective(1000px);
  transform: perspective(1000px);
  backface-visibility: hidden;
}
.artist-card, #reviews .card {   background: transparent !important;}
#headliners .artist-card img {
  height: 15rem;
  transition: transform 300ms ease;
}
#headliners .artist-card:hover img {transform: scale(1.1);}
#headliners .artist-card:hover{
  box-shadow: 0 0 15px rgba(var(--white), 0.6);
  transform: translateY(-10px);
}
#headliners .card-footer {
  background-color: rgba(var(--black), 0.7);
  transition: background-color 300ms ease;
}
#headliners .card-footer:hover {background: rgba(var(--white), 0.2);}
#reviews img{
  width: 35%;
  min-height: 130px !important;
  transition: transform 200ms linear;
  transform: translateY(20px);
}
#reviews .card-body:hover img{transform: translateY(10px);}
.jumbo{
  height: 100vh;
  background-image: url(./img/other-concerts-tickets.avif);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin-top: 200px !important;
}
@media screen and (max-width :771px) {
  .jumbo-txt{min-width: 100%;}
  .shows-container img{width: 100% !important;}  
}
@keyframes anim {from{opacity: 1;}to{opacity: 0.1;}}
.jumbo-txt span{animation: anim 500ms linear infinite alternate;}
#about, #booking{margin-bottom: 15rem !important;}
span.border:hover{background-color: rgb(var(--white)); color: var(--black);}
span.border{transition: background-color 250ms linear; cursor: pointer;}
.sticky{position: sticky;top: 6rem;}
.hero1 img{width: 100%;height: 90vh;object-fit: cover;}
.img-container span{
  bottom: 400px;
  right: 500px;
  font-size: 50px;
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
.shows-container h1, .shows-container span {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}
.shows-container img{ height: 330px;}